.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.squid-game-gradient {
  background: linear-gradient(135deg, #dc4242 0%, #f48fb1 50%, #000000 100%);
}

.blue-gradient {
  background: linear-gradient(135deg, #1244c8 0%, #4572e6 50%, #2196f3 100%);
}

.shapes-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}